@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 100px;
}

.card {
  background: linear-gradient(150deg, rgb(234, 35, 35), rgb(57, 57, 193));

  height: 400px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card h1 {
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.inputs input {
  width: 100%;
  cursor: pointer;
}

.inputs h3 {
  font-weight: 500;
}

.inputs span{
    color: white;
}

.bmi {
  text-align: center;
}

.bmi p {
  border: 1px solid #000;
  padding: 5px 0;
  margin: 10px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 3px black;
  background-color: rgb(156, 153, 153);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .card {
    height: 350px;
    width: 350px;
  }

  .card h1 {
    font-size: 18px;
    font-weight: bold;
  }

  .inputs h3 {
    font-size: 15px;
    color: white;
  }

  .bmi h2 {
    font-size: 18px;
    font-weight: 600;
  }
}
